@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    font-family: 'Oxygen', sans-serif;
}

html {
    scroll-behavior: smooth;
}
.navbar {
    opacity: 1;
  }

header {
    margin-left: 10px;
}

h2 {
    margin-left: 50px;
}

#taxDescription {
    margin-left: 50px;
}
footer {
    color: white;
    text-decoration: none;
    font-family: 'Century Gothic MS';
}

footer a {
    color: white;
    text-decoration: none;
}
.govtLinks {
    margin: auto;
    margin-top: 30px;
    padding: auto;
    line-height: 5px;
}
.govPh {
    margin: auto;
    margin-top: 30px;
    padding: auto;
    line-height: 5px;
}

.card {
    border: 0px;
}

#birLogo {
    display: block;
   
    max-width: 100%;
    height: auto;
}

.card-img-top {
    max-width: 100%;
    height: auto;
    opacity: 85%;
}

.btn {
    background-color: rgb(202, 50, 50);
    border: lightpink;
    color: white;
    
}
.card-title {
    color: rgb(23,6,148);
}

.card-text {
    color: rgb(23,6,148);

}

.reveal-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    left: 0;
    animation: revealText 1200ms ease-in-out;
}

.reveal-text-container .reveal-text {
    text-transform: uppercase;
    font-size:large;
    font-weight: bolder;
    position: relative;
    color: transparent;
    display:inline block;
    animation: showText forwards;
    animation-delay: 1000ms ease-out;
}

.taxCalculatorClass {
    background-color: rgba(169, 169, 169, 0.103);
    margin-top: 50px;;
}

.tab-content .myTabContent {
    background-color: black;
}

.nav-tabs .nav-item .nav-link.active {
    color: black;
    font-weight: bold;
    background-color: rgba(23, 6, 148, 0.281);
}

.tab-content {
    border: 0px solid;
    border-top: transparent;
    padding: 15px;
}

.tab-content .tab-pane {
    background-color: lightblue;
    color: black;
    min-height: 200px;
    height: auto;
    margin-left: 10px;
}


label {
    display: inline-block;
}


input {
    display: inline-block;
}

.card {
    border: 0px;
}


/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }